<a href="https://colab.research.google.com/github/Prasad-Devops432/AWS-Notes-/blob/main/Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## COMMENTS IN PYTHON

Basically comments are used to maintain documentation while writing programs.

  there are 2 types of comments in python
  1 single line comment

      represented with # single line comment

  2. multiline comment
      represented with ''' multi line comment'''

In [ ]:
# demo about single line comment
#this program written by venkat on 26 th nov , 2025

In [ ]:
''' comments never be executed
by interpreter of the
python. they simply ignored by the interpreter'''

##DATA TYPES IN PYTHON

    Broadly classified data as 2 types:
      Analog data
      used to represent by sinewaves in electronic
      --continues data is represented by the analog data

      ex: voice, temparature, heart rate etcc..

      digital data:
          1. numeric data
              integer and float/real data
          2. string data
              alphanumeric and special symbols
          3. boolean data
              True, False
          4. complex data
              data has real part and imaginary part
          5. binary data
              data is represented with 0 and 1
              base 2
          6. octal data
              range 0-7 and base 8
          7. hexa decimal data
             range is 0-9 and 10-A, 11-B,12-C,13-D,14-E,AND 15-F
             base 16

In [ ]:
i=20  #20 is integer data it does not decimal portion
print(type(i))

<class 'int'>

In [ ]:
f=12.25  #float /real data
print(type(f))

<class 'float'>

In [ ]:
#string data
email='prasad_123@gmail.com'
print(type(email))

<class 'str'>

In [ ]:
pno='779913275'
if(len(pno)==10):
  print("given no is valid phone number")
else:
  print("invalid phone number")

invalid phone number

In [ ]:
#rule firstname, lastname,surname should not be equal
first_name='lakshmi'
lastname='prasad'
surname='lakshmi'
if(first_name==lastname or first_name==surname):
  print("ur name is invalid according to the govt rule: kindly change accordingly")
else:
  print("ur full name is valid ")

ur name is invalid according to the govt rule: kindly change accordingly

In [ ]:
city_name='Hyderabad'
print(city_name[0]) #H
print(city_name[1])#y
print(city_name[2])#d
print(city_name[3])#e
print(city_name[4])#r
print(city_name[5])#a
print(city_name[6])#b

H
y
d
e
r
a
b

In [ ]:
print(city_name[-1]) #d
print(city_name[-2])#a

d
a

In [ ]:
print('welcome to hyderabad')

welcome to hyderabad

In [ ]:
print("thanks")

thanks

In [ ]:
a=float(input("enter a value"))
b=float(input("enter b value"))
print('sum of a and b is:\n',a+b)

enter a value200
enter b value300
sum of a and b is:
 500

In [ ]:
f=input("enter fitst section of aadhar no")
s=input("enter second section of aadhar no")
t=input("enter third section of aadhar no")
print(f+s+t)

564679455623

In [ ]:
f=1234
s=4567
t=7965
print(f+s+t)

13766

In [ ]:
#boolean data type: True and False
#True and False are builtin or predefined or reserved keyword
t=True+4 #True is equal to 1
print(t)

5

In [ ]:
f=False+5
print(f)

5

In [ ]:
#boolean data will produced or used by relational operators or logical operators
#==,!=,<,<=,>=,>

In [ ]:
price=4500
if(price<5000):
  payable_amt=price-500

  print("payable amount:",payable_amt)

payable amount: 4000

In [ ]:
#write a python program to calculate delivery charges based on product cost
product_cost=499
delivery_charges=50
if(product_cost>500 and  product_cost<5000):
  total_cost=product_cost+delivery_charges
  print("payable amt:",total_cost)
else:
  print("payable amt:",product_cost)

payable amt: 499

In [ ]:
#COMPLEX DATA
v=10+12j
print("complex data:",type(v))

complex data: <class 'complex'>

In [ ]:
#binary data
#0 and 1
s=0b1111
print(s)

15

In [ ]:
#octal value
i=0o25
print(i)

21

In [ ]:
#hexa decimal values
H=0x12D
print(H)

301

# CONTROL STATEMENTS:

    By default computer is able to execute instructions of the programs sequentially.
    ex:
        door unlock
          if(image ==exist.image):
              door unlock
          else:
              door lock
        door locked
        light ON
            if(LDR<=15):
                LIGHTS ON
            else:
                LIGHTS OFF
        Fan ON
        TV ON
        AC ON

    control statements are useful to change flow of execution of program instructions according end user expectations.

    there are 3 types control statements
    1. conditional statements/Branching statements/Decision making statements
          if else
            used to solve two positbilities of conditions either true or false
          if elif else statement
              used to resolve more then 2 conditions means N Conditions


    2. looping statements
        repetion statements/Iterative statements
        used to execute body of the instructions as many number of end user wants

        1. for statement

        2. while statement

        3. nested statements

    3. special statements
        break
        continue
        pass
        return

In [ ]:
#demo about if else statements
#write a python to landing flight based on the situation
'''if fuel_level<10: flight need to land else flight need to wait in the air'''
fuel_level=15
if(fuel_level<10):
  print("dear pilot immediatly land ur flight")
else:
  print("dear pilot wait sometime in the air")

dear pilot wait sometime in the air

In [ ]:
#write a python program to determine given character is vowel or consonent or digit
char=input("enter any character")
if(char in "aeiou"):
  print("given character is vowel")
elif(char in "0123456789"):
  print("given character is digit")
else:
  print("consonent")

enter any characteri
given character is vowel

In [ ]:
#assignment: write a python program to determine the grade of the student based secured marks
'''>=90: A+
>=80 AND <=90:A
>70 AND <80:B'''
marks=float(input("enter aggregate marks"))
if(marks>90):
  print("GRADE A")
elif(marks>80):
  print("GRADE B")
elif(marks>70):
  print("GRADE C")
elif(marks>60):
  print("grade D")
else:
  print("Grade F")

enter aggregate marks96
GRADE A

# LOOPING STATEMENTS:
      repetion or iteration statements
      --they allow to execute instructions with in the body of loop as many number of times u want.

In [ ]:
#write a python program to print or display natural numbers from 0 to 10
for j in range(11):
  print(j)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#write a python to print welcome message 10 times
for i in range(10):
  print("WELCOME TO VENKAT WORLD")
#NOTE: for loop statement is able to solve only finite related problems

WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD
WELCOME TO VENKAT WORLD

In [ ]:
#PRINT 1 to 10 natural numbers using while loop
i=1
n=10
while(i<=n):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:

while(True):
  print("welcome to hyd")
#while loop statement is able to solve both finite and infinite related problems

In [ ]:
#NESTED LOOP STATEMENTS:
'''a loop statement appear with in another loop statement is called nested statement
--used to tackle when the data in the 2D or 3D or ND Data.'''

In [ ]:
list=['venakt',"sai","prasad"]
print(list[-1])
print(list[2])

prasad
prasad

In [ ]:
#write a python to find factorial of given number.
'''5! ?
5*4=20
20*3=60
60*2=120
120*1=120
fact=1*1=1'''
no=5
k=1
fact=1
while(k<=no):
  fact=fact*k
  k=k+1
print(fact)

120

In [ ]:
#write a python program to find sum of n numbers
'''input n=10
output: 55'''
no=1110
k=1
sum=0
while(k<=no):
  sum=sum+k
  k=k+1
print(sum)

616605

#NESTED CONTROL STATEMENTS:

# operators in python

  ARITHMETIC OPERATORS

  RELATIONAL OPERATORS

  LOGICAL OPERATORS

  ASSIGNMENT OPERATORS

  MEMBERSHIP OPERATORS

  IDENTITIY OPERATORS
  
  BITWISE OPERATORS

In [ ]:
#arithemtic op:  +,-,*,/,//,%, **
x=20
y=5
print(x+y)
print(x-y)
print(x*y)

25
15
100

In [ ]:
print(5/3) #division operator which is produce quotient

1.6666666666666667

In [ ]:
#integer division or floor division operator
print("it returns only integer portion in quoteint ",5//3)

it returns only integer portion in quoteint  1

In [ ]:
print(x%y) #returns remainder of division operation

0

In [ ]:
#write a python program given number is EVEN OR ODD
no=6
if(no%2==0):
  print("given no is even")
else:
  print("given is odd")

given no is even

In [ ]:
#exponential operator
print(2**10)

1024

In [ ]:
import math
print(math.pow(2,3))

8.0

# OPERATOR PRECEDENCE AND ASSOCIATIVITY
  every operator has its own priority and
  assciativity is required when an expression is consist same level of operator
  there are 2 types of associativity
  1. left to right associativity
  2. right to left associativity

In [ ]:
#arithmetic expresssion
a=2-3+3**2*3

In [ ]:
a

26

# RELATIONAL OPERATORS:
    <,<=,>,>=,==,!=
    these operator are used to compare attributes/features about an entity

In [ ]:
#write a python given mobile number is valid or not
mobile_no="+917799132754"
if(len(mobile_no)==10):
  print("given mobile no is valid")
elif(len(mobile_no)<10):
  print("invalid mobile number")
else:
  print("mobile number is invalid as it is exceeded 10 digits")

mobile number is invalid as it is exceeded 10 digits

In [ ]:
#write a logic to check given aadhar number is valid or not
aano=input("enter ur aadhar number")

for i in range(10):

    if(len(aano)!=12):
      if(len(aano)!==10):
        print("ur aadhar no is not valid")
    else:
       print("valid aadhar no")

enter ur aadhar numberabcdefghijlj
valid aadhar no

In [ ]:
for i in "venkat":
  print(i)

print("u have printed ur name")

v
e
n
k
a
t
u have printed ur name

In [ ]:
list1=["prasad","sai","srini","venkat","manish"]
print(len(list1))

5

In [ ]:
list2=[10,20,30,5,6,90]
for i in list2:
  if(i%2==0):
    print("even no:",i)
  else:
    print("odd number:",i)

even no: 10
even no: 20
even no: 30
odd number: 5
even no: 6
even no: 90

In [ ]:
'''input 5
output: 120
factorial problem
5!
5*4=20
20*3=60
60*2=120
120*1=120'''

In [ ]:
n=96
i=1
fact=1
while(i<=n):
  fact=fact*i
  i=i+1
print("factorial result:",fact)

factorial result: 991677934870949689209571401541893801158183648651267795444376054838492222809091499987689476037000748982075094738965754305639874560000000000000000000000